body{
    font-family: 'Times New Roman', Times, serif;
    margin: 40px auto;
    max-width:10000px;
    background-color: black;
    color:black;
    line-height: 1.6;
}
#content-editor{
    min-height: 550px;
    padding: 25px;
    border: 1px azure;
    border-radius: 10px;
    background-color: antiquewhite;
    outline: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: border-color 0.3s;
    margin-top: -25px;
}
#content-editor:focus{
    border-color: aqua;
    box-shadow: 0 0 8px rgba(52,152,219,0.3);
}
.toolbar{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 15px;
    background: antiquewhite;
    border-radius:10px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);

}
header {
    text-align: center;
    margin-top: -40px;
    margin-bottom: -10px;
    margin-top: -60px;
}

h1 {
    font-size: 30px;
    color: whitesmoke;
    margin: 0;
}

header p {
    font-size: 15px;
    color: red;
    margin-top: 5px;
}
footer {
    text-align: center;
    font-size: 13px;
    color: red;
    padding: 20px 0;
}
.toolbar button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
    cursor: pointer;
}
.toolbar button:hover {
    background-color: black;
}